# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://YOURSUPABASE.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YYY
NEXT_PUBLIC_PRODUCTNAME=SaaS-Starter
NEXT_PUBLIC_SSO_PROVIDERS=github,google,facebook,apple

# Google Analytics Tag, Set to empty string to disable analytics
NEXT_PUBLIC_GOOGLE_TAG=G-GOOGLETAG
NEXT_PUBLIC_THEME=theme-saas
# Layout, Layout2
NEXT_PUBLIC_LAYOUT=Layout
